ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-widjets {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
  border-radius: 5px;
}

.other-widjets {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid green;
  border-radius: 5px;

}

.categories {
  display: flex;
  justify-content: space-between;  
}

.banner-container {
  width: 100%;
}

.banner-container img {
  width: 100%;
}

.widjet {
  width: 25%;
  border: 1px dashed red;
  border-radius: 5px;
}

.news-widjet {
  width: 65%;
  border: 1px dashed red;
  border-radius: 5px;
}

.news-widjet img, .on-air-widjet img {
  max-width: 10%;
}

.widjet > img {
  max-width: 40%;
}
